APP_URL=
CLIENT_ID=
CLIENT_SECRET=
FIREBASE_PROJECT_ID=
FIREBASE_API_KEY=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NOTIFICATION_EMAIL=
SESSION_SECRET=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=